header {
    background-image: url("/Community/france.jpeg");
    background-size: 100% auto;
    height: 300px;
    border: 5px solid #000000;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
goober {
    border: 10px;
}
